@using Data.DB;
@using Data.Model;
@model List<ListSlideOutputModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js/jquery.min.js"></script>
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    @foreach (var item in ViewBag.listSlide)
                    {
                        <li>
                            <div class="seq-model">
                                <img data-seq src="@item.ImgUrl" alt="Women Jeans slide img" />
                            </div>
                            <div class="seq-title">
                                <span data-seq>@item.summary</span>
                                <h2 data-seq>Jeans Collection</h2>
                                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- Start Promo section -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <h2 style="text-align:center;padding-top:15px;">SẢN PHẨM NỔI BẬT</h2>
                        <hr style="width:300px;" />
                        <!-- promo left -->
                        <div class="col-md-5 no-padding">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <a href=""><img src="@ViewBag.SpNamHot.ImgUrl" alt="img"></a>
                                    <div class="aa-prom-content">
                                        <span>75% Off</span>
                                        <h4><a href="/ProductDetail/Index?ID=@ViewBag.SpNamHot.ID&Category_ID=@ViewBag.SpNamHot.Category_ID">For Men</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-7 no-padding">
                            <div class="aa-promo-right">
                                @foreach (var item in ViewBag.SpHot)
                                {
                                    <a href="/ProductDetail/Index/@item.ID">
                                        <div class="aa-single-promo-right">
                                            <div class="aa-promo-banner">

                                                <img src="@item.ImgUrl" alt="img">

                                                <div class="aa-prom-content">
                                                    <span>Sản Phẩm Hot</span>
                                                    <h4><a href="/ProductDetail/Index?ID=@item.ID&Category_ID=@item.Category_ID">@item.Description</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section -->
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#men" data-toggle="tab">Nam</a></li>
                                <li><a href="#women" data-toggle="tab">Nữ</a></li>
                                <li><a href="#kid" data-toggle="tab">Trẻ con</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var i in ViewBag.listProMen)
                                        {
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                    <figcaption>
                                                        <h4 class="aa-product-title"><a href="#">@i.Name</a></h4>
                                                        <span class="aa-product-price">@i.Price</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                    </figcaption>
                                                </figure>
                                                <div class="aa-product-hvr-content">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                                </div>
                                                <!-- product badge -->
                                                @*<span class="aa-badge aa-sale" href="#">SALE!</span>*@
                                            </li>
                                        }

                                    </ul>
                                    <a class="aa-browse-btn" href="/ListProductCategory/Index?Page=1&Category=1">Tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / men product category -->
                                <!-- start women product category -->
                                <div class="tab-pane fade" id="women">
                                    <ul class="aa-product-catg">
                                        @foreach (var i in ViewBag.listProWoMen)
                                        {
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                    <figcaption>
                                                        <h4 class="aa-product-title"><a href="#">@i.Category_Name</a></h4>
                                                        <span class="aa-product-price"> @String.Format("{0:n0}", i.Price)</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                    </figcaption>
                                                </figure>
                                                <div class="aa-product-hvr-content">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                                </div>
                                                <!-- product badge -->
                                                <span class="aa-badge aa-sale" href="#">SALE!</span>
                                            </li>
                                        }
                                    </ul>
                                    <a class="aa-browse-btn" href="/ListProductCategory/Index?Page=1&Category=2">Tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / women product category -->
                                <!-- start sports product category -->
                                <div class="tab-pane fade" id="kid">
                                    <ul class="aa-product-catg">
                                        @foreach (var i in ViewBag.listProKid)
                                        {
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                    <figcaption>
                                                        <h4 class="aa-product-title"><a href="#">@i.Category_Name</a></h4>
                                                        <span class="aa-product-price">@i.Price</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                    </figcaption>
                                                </figure>
                                                <div class="aa-product-hvr-content">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                                </div>
                                                <!-- product badge -->
                                                <span class="aa-badge aa-sale" href="#">SALE!</span>
                                            </li>
                                        }
                                    </ul>
                                    <a class="aa-browse-btn" href="/ListProductCategory/Index?Page=1&Category=0">Tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / sports product category -->
                            </div>
                            <!-- quick view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <article>
                                                            <div class="simpleLens-gallery-container" id="demo-1">
                                                                <div class="simpleLens-container">
                                                                    <div class="simpleLens-big-image-container">
                                                                        <a class="simpleLens-lens-image" data-lens-image="/Content/demo/large/benvado_elisa_bianco.jpg">
                                                                            <img src="~/Content/demo/medium/benvado_elisa_bianco.jpg" class="simpleLens-big-image">
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="simpleLens-thumbnails-container">
                                                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                       data-lens-image="/Content/demo/large/benvado_elisa_bianco.jpg"
                                                                       data-big-image="/Content/demo/medium/benvado_elisa_bianco.jpg">
                                                                        <img src="~/Content/demo/thumbnail/benvado_elisa_bianco.jpg">
                                                                    </a>

                                                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                       data-lens-image="/Content/demo/large/camper_21926_red.jpg"
                                                                       data-big-image="/Content/demo/medium/camper_21926_red.jpg">
                                                                        <img src="~/Content/demo/thumbnail/camper_21926_red.jpg">
                                                                    </a>

                                                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                       data-lens-image="/Content/demo/large/flylondon_most_red.jpg"
                                                                       data-big-image="/Content/demo/medium/flylondon_most_red.jpg">
                                                                        <img src="~/Content/demo/thumbnail/flylondon_most_red.jpg">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>

                                                </div>
                                                <!-- Modal view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3>T-Shirt</h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price">$34.99</span>
                                                            <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                        <h4>Size</h4>
                                                        <div class="aa-prod-view-size">
                                                            <a href="#">S</a>
                                                            <a href="#">M</a>
                                                            <a href="#">L</a>
                                                            <a href="#">XL</a>
                                                        </div>
                                                        <div class="aa-prod-quantity">
                                                            <form action="">
                                                                <select name="" id="">
                                                                    <option value="0" selected="1">1</option>
                                                                    <option value="1">2</option>
                                                                    <option value="2">3</option>
                                                                    <option value="3">4</option>
                                                                    <option value="4">5</option>
                                                                    <option value="5">6</option>
                                                                </select>
                                                            </form>
                                                            <p class="aa-prod-category">
                                                                Category: <a href="#">Polo T-Shirt</a>
                                                            </p>
                                                        </div>
                                                        <div class="aa-prod-view-bottom">
                                                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
<!-- banner section -->
<section id="aa-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-banner-area" style="text-align:center;">
                        <a href="#"><img src="~/Content/img/q.jpg" alt="fashion banner img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular section -->
<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                        <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Hot</a></li>
                            <li><a href="#featured" data-toggle="tab">Mới</a></li>
                            <li><a href="#latest" data-toggle="tab">Giảm giá</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider">
                                    <!-- start single product item -->
                                    @foreach (var i in ViewBag.listProHot)
                                    {
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">@i.Category_Name</a></h4>
                                                    <span class="aa-product-price">@i.Price</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- / popular product category -->
                            <!-- start featured product category -->
                            <div class="tab-pane fade" id="featured">
                                <ul class="aa-product-catg aa-featured-slider">
                                    <!-- start single product item -->
                                    @foreach (var i in ViewBag.listProNew)
                                    {
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">@i.Category_Name</a></h4>
                                                    <span class="aa-product-price">@i.Price</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- / featured product category -->
                            <!-- start latest product category -->
                            <div class="tab-pane fade" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    <!-- start single product item -->
                                    @foreach (var i in ViewBag.listProSale)
                                    {
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/ProductDetail/Index?ID=@i.ID&Category_ID=@i.Category_ID"><img src="@i.ImgUrl" alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">@i.Category_Name</a></h4>
                                                    <span class="aa-product-price">@i.Price</span><span class="aa-product-price">@*<del>@i.Price</del>*@</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>Giao hàng miễn phí</h4>
                            <P>Giao hàng miễn phí trong nội thành Hà Nội</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>Trả hàng & Hoàn tiền</h4>
                            <P>Đổi trả trong vòng 7 ngày nếu sản phẩm có lỗi từ nhà cung cấp</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>Tư vấn 24/7</h4>
                            <P>Nhận tư vấn sản phẩm miễn phí từ chúng tôi</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->
<!-- Testimonial -->
<!--<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <ul class="aa-testimonial-slider">-->
<!-- single slide -->
<!--<li>
    <div class="aa-testimonial-single">
        <img class="aa-testimonial-img" src="~/Content/img/testimonial-img-2.jpg" alt="testimonial img">
        <span class="fa fa-quote-left aa-testimonial-quote"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
        <div class="aa-testimonial-info">
            <p>Allison</p>
            <span>Designer</span>
            <a href="#">Dribble.com</a>
        </div>
    </div>
</li>-->
<!-- single slide -->
<!--<li>
    <div class="aa-testimonial-single">
        <img class="aa-testimonial-img" src="~/Content/img/testimonial-img-1.jpg" alt="testimonial img">
        <span class="fa fa-quote-left aa-testimonial-quote"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
        <div class="aa-testimonial-info">
            <p>KEVIN MEYER</p>
            <span>CEO</span>
            <a href="#">Alphabet</a>
        </div>
    </div>
</li>-->
<!-- single slide -->
<!--<li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="~/Content/img/testimonial-img-3.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                                <div class="aa-testimonial-info">
                                    <p>Luner</p>
                                    <span>COO</span>
                                    <a href="#">Kinatic Solution</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- / Testimonial -->
<!-- Latest Blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>TIN TỨC</h2>
                    <div class="row">
                        <!-- single latest blog -->
                        @foreach (var item in ViewBag.listTopNews)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="aa-latest-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="/News/Index/@item.ID"><img src="@item.UrlImage" alt="img"></a>
                                        <figcaption class="aa-blog-img-caption">
                                            @*<span href="#"><i class="fa fa-eye"></i>5K</span>
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                                <a href="#"><i class="fa fa-comment-o"></i>20</a>*@
                                            <span href="#"><i class="fa fa-clock-o"></i>@item.CreateDateStr</span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-blog-info">
                                        <h3 class="aa-blog-title"><a href="#">@item.Title</a></h3>
                                        <p>@item.Content</p>
                                        <a href="/News/Index/@item.ID" class="aa-read-mor-btn">Chi tiết ... <span class="fa fa-long-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest Blog -->
<!-- Client Brand -->
@*<section id="aa-client-brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-client-brand-area">
                        <ul class="aa-client-brand-slider">
                            <li><a href="#"><img src="~/Content/img/client-brand-java.png" alt="java img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-jquery.png" alt="jquery img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-html5.png" alt="html5 img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-css3.png" alt="css3 img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-joomla.png" alt="joomla img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-java.png" alt="java img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-jquery.png" alt="jquery img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-html5.png" alt="html5 img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-css3.png" alt="css3 img"></a></li>
                            <li><a href="#"><img src="~/Content/img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- / Client Brand -->
<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Đăng ký  </h3>
                    <p>Để nhận tư vấn miễn phí từ chúng tôi</p>
                    <form action="" class="aa-subscribe-form">
                        <input type="email" name="" id="" placeholder="Nhập vào Email">
                        <input type="submit" value="Đăng ký">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#demo-1 .simpleLens-thumbnails-container img').simpleGallery({
            loading_image: '~/Content/demo/images/loading.gif'
        });
        $('#demo-1 .simpleLens-big-image').simpleLens({
            loading_image: '~/Content/demo/images/loading.gif'
        });
    });
</script>
