
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/321.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Tin Tức</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active">Chi tiết bài viết</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Blog Archive -->
<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- Blog details -->
                            <div class="aa-blog-content aa-blog-details">
                                <article class="aa-blog-content-single">
                                    <h2><a href="#">@ViewBag.NewsDetail.Title</a></h2>
                                    <div class="aa-article-bottom">
                                        <div class="aa-post-author">
                                            Đăng bởi <a href="#">Nam Nguyễn</a>
                                        </div>
                                        <div class="aa-post-date">
                                            @ViewBag.NewsDetail.CreateDateStr
                                        </div>
                                    </div>
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="@ViewBag.NewsDetail.UrlImage" alt="fashion img"></a>
                                    </figure>
                                    <p>@ViewBag.NewsDetail.Content</p>
                                    <div class="blog-single-bottom">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                @*<div class="blog-single-tag">
                                                        <span>Tags:</span>
                                                        <a href="#">Fashion,</a>
                                                        <a href="#">Beauty,</a>
                                                        <a href="#">Lifestyle</a>
                                                    </div>*@
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="blog-single-social">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </article>
                                <!-- blog navigation -->
                                <div class="aa-blog-navigation">
                                    <a class="aa-blog-prev" href="#"><span class="fa fa-arrow-left"></span></a>
                                    <a class="aa-blog-next" href="#"><span class="fa fa-arrow-right"></span></a>
                                </div>

                                <div id="respond">
                                    <h3 class="reply-title">Đăng nhập để tham gia bình luận</h3>
                                    <form id="commentform">
                                        <p class="comment-form-author">
                                            <label for="author">Tên <span class="required">*</span></label>
                                            <input type="text" name="author" value="" size="30" required="required">
                                        </p>
                                        <p class="comment-form-email">
                                            <label for="email">Email <span class="required">*</span></label>
                                            <input type="email" name="email" value="" aria-required="true" required="required">
                                        </p>
                                        <p class="comment-form-url">
                                            <label for="url">Địa chỉ</label>
                                            <input type="url" name="url" value="">
                                        </p>
                                        <p class="comment-form-comment">
                                            <label for="comment">Bình luận</label>
                                            <textarea name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                                        </p>

                                        <p class="form-submit">
                                            <input type="submit" name="submit" class="aa-browse-btn" value="Đăng bình luận">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- blog sidebar -->
                        <div class="col-md-3">
                            <aside class="aa-blog-sidebar">
                                <div class="aa-sidebar-widget">
                                    <h3>Danh mục</h3>
                                    <ul class="aa-catg-nav">
                                        <li><a href="#">Nam</a></li>
                                        <li><a href="">Nữ</a></li>
                                        <li><a href="">Trẻ con</a></li>
                                        <li><a href="">Tin tức mới</a></li>
                                        <li><a href="">Đồ thể thao</a></li>
                                    </ul>
                                </div>
                                @*<div class="aa-sidebar-widget">
                                        <h3>Tags</h3>
                                        <div class="tag-cloud">
                                            <a href="#">Fashion</a>
                                            <a href="#">Ecommerce</a>
                                            <a href="#">Shop</a>
                                            <a href="#">Hand Bag</a>
                                            <a href="#">Laptop</a>
                                            <a href="#">Head Phone</a>
                                            <a href="#">Pen Drive</a>
                                        </div>
                                    </div>*@
                                <div class="aa-sidebar-widget">
                                    <h3>Bài viết gần đây</h3>
                                    <div class="aa-recently-views">
                                        <ul>
                                            @foreach (var item in ViewBag.listTopNews)
                                            {
                                                <li>
                                                    <a class="aa-cartbox-img" href="/News/Index/@item.ID"><img src="@item.UrlImage" alt="img"></a>
                                                    <div class="aa-cartbox-info">
                                                        <h4><a href="/News/Index/@item.ID">@item.Title</a></h4>
                                                        <p>@item.CreateDateStr</p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Archive -->
<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Đăng ký  </h3>
                    <p>Để nhận tư vấn miễn phí từ chúng tôi</p>
                    <form action="" class="aa-subscribe-form">
                        <input type="email" name="" id="" placeholder="Nhập vào Email">
                        <input type="submit" value="Đăng ký">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->
