
@using Data.DB
@using Data.Model
@using Data.Utils
@model ListProductOutputModel

<div class="col-md-12">
    <div class="breadcrumb-holder">
        <div class="row mb-3">
            <div class="col-md-10 col-sm-10 col-9 text-dark px-0 mt-3">
                <h4>Sửa sản phẩm</h4>
            </div>
        </div>
    </div>
</div>
<form id="form_create_item" name="form_create_item">
    <div class="row col-12">
        <!--Left content-->
        <div class="col-md-6">
            <div class="row col-12">
                <div class="col-md-5"><p class="mb-0 color-require"><label class="text-dark">Danh mục</label> <span style="color:red;">*</span></p></div>
                <div class="col-md-7">
                    <select class="form-control" value="@Model.Category_ID" id="cbbCategory_edit" name="cbbCategory_edit">
                        @{
                            foreach (var p in ViewBag.Category)
                            {
                                <option value="@p.CategoryID" @(Model.Category_ID == p.CategoryID ? Html.Raw("selected") : Html.Raw(""))>@p.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-5">
                    <p class="mb-0 color-require"><label class="text-dark">Mã sản phẩm</label> <span style="color:red;">*</span></p>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" value="@Model.Code" id="CodeCreate_edit" name="CodeCreate_edit" placeholder="Nhập mã sản phẩm">
                    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                </div>
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-5">
                    <p class="mb-0 color-require"><label class="text-dark">Tên sản phẩm</label> <span style="color:red;">*</span></p>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" value="@Model.Name" id="NameCreate_edit" name="NameCreate_edit" placeholder="Nhập tên sản phẩm">
                </div>
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-5">
                    <p class="mb-0 color-require"><label class="text-dark">Mô tả</label> <span style="color:red;">*</span></p>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" id="descriptionEditProduct" rows="3">@Model.Description</textarea>
                </div>
            </div>
        </div>
        <!--End left content-->
        <!--Right conntent-->
        <div class="col-md-6">
            <div class="row col-12">
                <div class="col-md-4">
                    <input type="checkbox" name="new_product_edit" @(Model.Is_New == 1 ? Html.Raw("checked") : Html.Raw("")) id="new_product_edit" /> <small>Sản phẩm mới</small>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" name="hot_product_edit" @(Model.Is_Hot == 1 ? Html.Raw("checked") : Html.Raw("")) id="hot_product_edit" /> <small>Sản phẩm hot</small>
                </div>
                @*<div class="col-md-4">
                    <input type="checkbox" name="best_sale_product_edit" @(Model.Is_Sale == 1 ? Html.Raw("checked") : Html.Raw("")) id="best_sale_product_edit" /> <small>Sản phẩm giảm giá</small>
                </div>*@
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-5">
                    <p class="mb-0 color-require"><label class="text-dark">Giá tiền</label> <span style="color:red;">*</span></p>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control number" value="@Model.Price" id="PriceCreate_edit" name="PriceCreate_edit" placeholder="Nhập giá tiền">
                </div>
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-5">
                    <p class="mb-0 color-require"><label class="text-dark">Giá tiền khuyến mãi</label></p>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control number priceSaleEdit" value="@Model.PriceSale" id="priceSaleEdit" name="priceSaleEdit" placeholder="Nhập giá tiền">
                </div>
            </div>
            <div class="row col-12">
                <div class="col-md-12">
                    <p class="mb-0 color-require"><label class="text-dark">Ảnh sản phẩm</label> <span style="color:red;">*</span></p>
                </div>
            </div>
            <div class="row col-12 text-center">
                <div class="col-md-12 col-sm-12 col-12">
                    <a href="" class="text-bold mb-3" style="width:100%;height:100%; color: #5A5A5A;" id="_addImg">
                        <img id="Imgtag" src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png" class="col-ml-2 col-md-2 px-0" alt="Chọn" />
                    </a>
                </div>
                <div class="article row mt-2" id="_divAddImg">
                    @{
                        int I = 0;
                        var lstImgUrl = Model.ImgUrl != null && Model.ImgUrl.Length > 0 && Model.ImgUrl.Contains(',') ? Model.ImgUrl.Split(',').ToList() : new List<string> { Model.ImgUrl };
                        foreach (var imgUrl in lstImgUrl)
                        {

                            <div class="col-md-6 Imgs " id="img-@I" style="box-sizing:border-box;display:inline-block;margin-top:10px;"><img class="_lstImage" src="@imgUrl" onclick="ChangeImage($(this));" style="height:auto; width: 100%; margin-right:-15px;" /><i title="Xóa" onclick="DeleteImage(event);" src="@imgUrl" class="fa fa-2x fa-remove icon-remove display-none" data="img-@I" style="position:absolute;color: #ff0000;"></i></div>
                            I++;
                        }

                    }
                </div>
            </div>
            @*<div class="row col-12 mt-3">
            <div class="col-md-5">
                <p class="mb-0 color-require"><label class="text-dark">Trạng thái</label> *</p>
            </div>
            <div class="col-md-7">
                <select id="StatusCreate" name="Status" class="form-control">
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Ngừng hoạt động</option>
                </select>
            </div>
        </div>*@
        </div>
        <!--End right content-->
    </div>

    <div class="row col-12 mt-5">
        <div class="col-md-12">
            <div class="row col-12 ml-1">
                <p class="mb-0 color-require"><label class="text-dark">Nội dung</label> *</p>
            </div>
            <div class="col-md-12 col-sm-12 col-12 mt-3">
                <textarea name="NoteEdit" class="form-control mb-3" id="NoteEdit">@Model.Content</textarea>
            </div>
        </div>
    </div>
</form>

<div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-outline-secondary" onclick="window.location='/Admin/Product/Index'">Đóng</button>
        <button type="button" class="btn btn-primary px-3 ml-3" onclick="editItem()">Lưu</button>
    </div>
</div>

<script type="text/javascript">

    $('input.PriceCreate_edit').on('blur', function () {
        const value = this.value.replace(/,/g, '');
        this.value = parseFloat(value).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 0,
            minimumFractionDigits: 0
        });
    });
    $('input.priceSaleEdit').on('blur', function () {
        const value = this.value.replace(/,/g, '');
        this.value = parseFloat(value).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 0,
            minimumFractionDigits: 0
        });
    });
    //edit image
    var count = 0;
    $("#_addImg").off('click').on('click', function (e) {
        e.preventDefault();
        count++;
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $("#_divAddImg").append('<div class="Imgs col-md-6" id="img' + count + '" style ="box-sizing:border-box;display:inline-block;margin-top:10px;"><img class="_lstImage" src="' + fileUrl + '" onclick="ChangeImage($(this));" style="height:auto; width: 100%; max-height:600px; margin-right:-15px;"/><i  title ="Xóa" onclick="DeleteImage(event);" src="' + fileUrl + '" class="fa fa-2x fa-remove icon-remove display-none " data="img' + count + '" style="position:absolute;color: #ff0000;"></i></div>');
            var listUrl = $("#_txturlImage").val();
            if (listUrl == "") {
                listUrl = fileUrl;
                $("#_txturlImage").val(listUrl);
            }
            else {
                var url = listUrl + "," + fileUrl;
                $("#_txturlImage").val(url);
            }
            $(".Imgs").mouseover(function () {
                $(this).find(".icon-remove").removeClass("display-none");
            });
            $(".Imgs").mouseout(function () {
                $(this).find(".icon-remove").addClass("display-none");
            });
        }
        fider.popup();
    });

    $(document).ready(function () {
        CKEDITOR.replace('NoteEdit', {
            height: 300,
            disableObjectResizing: true
        });

        CKEDITOR.on('dialogDefinition', function (ev) {
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;
            //var editorO = ev.data.definition.dialog.getParentEditor();

            if (dialogName == 'image' || dialogName == 'image2') {
                var infoTab = dialogDefinition.getContents('info');

                if (dialogName == 'image') {
                    infoTab.remove('txtHeight');
                    infoTab.remove('txtWidth');
                    infoTab.remove('ratioLock');
                }
                else {
                    infoTab.remove('height');
                    infoTab.remove('width');
                    infoTab.remove('lock');
                }
            }
        });

    });

    $("#add_logo_place").off('click').on('click', function (e) {
        e.preventDefault();
        var fider = new CKFinder();

        fider.selectActionFunction = function (fileUrl) {
            $("#AddImgLogoPlace ").remove();
            $("#AddLogoPlace").append('<img id="AddImgLogoPlace" src="' + fileUrl + '" class="col-md-12 px-0 border-dekko contentImg" alt="your image" />');
            var url = window.location.origin + fileUrl;
            $('#txtAddLogoPlace').val(url);
        }
        fider.popup();
    });
    function DeleteImage(event) {
        $(event.target).closest("div").remove();
    }
    function ChangeImage($url) {
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            var url_old = $url.attr('src');
            $url.attr('src', fileUrl);
            if (fileUrl != url_old) {
                var str = $('#txturlImage').val().replace(url_old, fileUrl);
                $('#txturlImage').val(str);
            }
        }
        fider.popup();
    }
</script>


