<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title class="title-tab">TranDungShop_Admin</title>
    <link rel="icon" href="~/Content/images/store_1539333059_242.png" />

    @Styles.Render("~/dekko/css")
    @Scripts.Render("~/layout/js")
    @Scripts.Render("~/dekko/js")
</head>
<body class="theme-orange">
    <div id="wrapper">
        <nav class="navbar navbar-fixed-top" style="border: 1px solid #34B081;">
            <div class="container-fluid" style="height:97px;">
                <div class="navbar-btn mb-3">
                    <button type="button" class="btn-toggle-offcanvas text-white"><i class="lnr lnr-menu fa fa-bars" style="color:rgb(215,174,62);"></i></button>
                </div>
                <div class="navbar-brand d-inline-flex p-2 text-sm-center">
                    <!-- d-inline-flex p-2 giống wrap-content của android-->
                    <a href="/Home/Index" class="ml-md-3"><img src="~/Content/images/sloganTD.png" class="img-responsive logo" style="height:80px;width:auto;"></a>
                </div>
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas "></button>
                </div>
                <div class="navbar-right position-absolute  " style="margin-left:150px;">
                    <div class="user-account float-right">
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown">
                                @ViewBag.NameUserCurrent<strong class="" id="userNameLogin" style=" color: rgb(231,211,90);"></strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right account">
                                <li data-toggle="modal" data-target="#changePassword" onclick="Reload();"><a href="#"><i class="fa fa-user-o"></i>Đổi mật khẩu</a></li>
                                <li class="divider"></li>
                                <li><a href="/Admin/Security/Login" @*onclick="logout();"*@><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="left-sidebar" class="sidebar" style="margin-top: 100px;">
        <div class="sidebar-scroll bg-white" style="border-right: 1px solid #34B081;">
            <div class="tab-content p-l-0 p-r-0 bg-white">
                <div class="tab-pane active">
                    <nav class="sidebar-nav">
                        @Html.Action("MenuLeftParitalView", "Home")
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", false)
</body>
</html>

<div id="changePassword" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-lock" aria-hidden="false"></i> Thay đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <label>Mật khẩu hiện tại</label>
                        <input class="form-control" type="password" id="txtCurrentPassword" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 col-sm-12 col-12">
                        <label>Mật khẩu mới</label>
                        <input class="form-control" type="password" id="txtNewPassword" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 col-sm-12 col-12">
                        <label>Xác nhận mật khẩu mới</label>
                        <input class="form-control" type="password" id="txtConfirmPassword" />
                        <i id="checkp" class="iconChangePassword text-success fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="changePassword()">Thay đổi</button>
            </div>
        </div>
    </div>
</div>

@*modal loading *@
<div class="modal" id="modalLoad" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content text-center py-3">
            <div class="modal-body text-center">
                <i class="fa fa-spinner text-success fa-spin" style="font-size: 40px;"></i>
                <div class="col-md-12 text-center mt-2">
                    <span>Đang xử lý</span>
                </div>
            </div>
        </div>
    </div>
</div>


